<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>JSPFilter</filter-name>
        <filter-class>Filter.JSPFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>EmployeeFilter</filter-name>
        <filter-class>Filter.EmployeeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>JSP2Filter</filter-name>
        <filter-class>Filter.JSP2Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JSP2Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EmployeeFilter</filter-name>
        <url-pattern>/onshift</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EmployeeFilter</filter-name>
        <url-pattern>/historyorder</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EmployeeFilter</filter-name>
        <url-pattern>/orderinfoemployee</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EmployeeFilter</filter-name>
        <url-pattern>/changepassemployees</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EmployeeFilter</filter-name>
        <url-pattern>/updateemployeesprofile</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EmployeeFilter</filter-name>
        <url-pattern>/employeesprofile</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/toggleblogstatus</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/updateblog</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/createblog</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/bloglistadmin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/updateloyaltypolicies</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/loyaltypolicies</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>WorkScheduleEmployees</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>EmployeesRecoveryController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>UpdateEmployeesStatusController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>EmployeesResignController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>EmployeesDetailController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>CheckInController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>CheckOutServeletController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ViewAllBillController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>CancelOrderController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ViewOrderDetatailUpdateController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>GetOrderManager</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>CancelStoreHolidayScheduleServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>StoreHolidayScheduleServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>FilterRevenueTableServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ViewSaleOrderServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ViewSaleDetailServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ViewSaleServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ViewRevenueOrderServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>GetRevenueByMonthServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ViewRevenueServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.common.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>Controller.customer.AppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.common.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>Controller.common.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesController</servlet-name>
        <servlet-class>Controller.common.EmployeesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryBooking</servlet-name>
        <servlet-class>Controller.customer.ViewHistoryBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesDetailController</servlet-name>
        <servlet-class>Controller.admin.EmployeesDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeesStatusController</servlet-name>
        <servlet-class>Controller.admin.UpdateEmployeesStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepassreset</servlet-name>
        <servlet-class>Controller.common.changepassreset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendlink</servlet-name>
        <servlet-class>Controller.common.sendlink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAppointmentController</servlet-name>
        <servlet-class>Controller.customer.GetAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAppointmentController</servlet-name>
        <servlet-class>Controller.customer.CancelAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchDateServlet</servlet-name>
        <servlet-class>Controller.customer.FetchDateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepassw</servlet-name>
        <servlet-class>Controller.common.changepassw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceControl</servlet-name>
        <servlet-class>Controller.Service.ServiceControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicedetailControl</servlet-name>
        <servlet-class>Controller.Service.ServicedetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.common.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRevenueServlet</servlet-name>
        <servlet-class>Controller.admin.ViewRevenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRevenueByMonthServlet</servlet-name>
        <servlet-class>Controller.admin.GetRevenueByMonthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRevenueOrderServlet</servlet-name>
        <servlet-class>Controller.admin.ViewRevenueOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSaleServlet</servlet-name>
        <servlet-class>Controller.admin.ViewSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAppountController</servlet-name>
        <servlet-class>Controller.customer.ViewAppountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesResignController</servlet-name>
        <servlet-class>Controller.admin.EmployeesResignController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAppointmentController</servlet-name>
        <servlet-class>Controller.customer.UpdateAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddService</servlet-name>
        <servlet-class>Controller.Service.AddService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderController</servlet-name>
        <servlet-class>Controller.admin.ViewOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controller.admin.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderManager</servlet-name>
        <servlet-class>Controller.admin.GetOrderManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllBillController</servlet-name>
        <servlet-class>Controller.admin.ViewAllBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusEmployeeController</servlet-name>
        <servlet-class>Controller.admin.UpdateStatusEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetatailUpdateController</servlet-name>
        <servlet-class>Controller.admin.ViewOrderDetatailUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInController</servlet-name>
        <servlet-class>Controller.admin.CheckInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSaleDetailServlet</servlet-name>
        <servlet-class>Controller.admin.ViewSaleDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSaleByMonthServlet</servlet-name>
        <servlet-class>Controller.admin.GetSaleByMonthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSaleDetailByMonthServlet</servlet-name>
        <servlet-class>Controller.admin.GetSaleDetailByMonthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateService</servlet-name>
        <servlet-class>Controller.Service.UpdateService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesBookingServlet</servlet-name>
        <servlet-class>Controller.customer.ServicesBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesBookingAjaxServlet</servlet-name>
        <servlet-class>Controller.customer.ServicesBookingAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteservice</servlet-name>
        <servlet-class>Controller.Service.deleteservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReOrderServlet</servlet-name>
        <servlet-class>Controller.customer.ReOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSaleOrderServlet</servlet-name>
        <servlet-class>Controller.admin.ViewSaleOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkScheduleEmployees</servlet-name>
        <servlet-class>Controller.admin.WorkScheduleEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesRecoveryController</servlet-name>
        <servlet-class>Controller.admin.EmployeesRecoveryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyOTP</servlet-name>
        <servlet-class>Controller.common.verifyOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resendotp</servlet-name>
        <servlet-class>Controller.common.resendotp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerProfileController</servlet-name>
        <servlet-class>Controller.customer.UpdateCustomerProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>VNpay.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServeletController</servlet-name>
        <servlet-class>VNpay.CheckOutServeletController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackController</servlet-name>
        <servlet-class>Controller.feedback.ViewFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerFeedbackController</servlet-name>
        <servlet-class>Controller.feedback.CustomerFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerProfileController</servlet-name>
        <servlet-class>Controller.customer.CustomerProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoucherDetail</servlet-name>
        <servlet-class>Controller.Voucher.VoucherDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Advoucher</servlet-name>
        <servlet-class>Controller.Voucher.Advoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updatevoucher</servlet-name>
        <servlet-class>Controller.Voucher.Updatevoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchNextShiftsServlet</servlet-name>
        <servlet-class>Controller.customer.FetchNextShiftsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OldVoucher</servlet-name>
        <servlet-class>Controller.Voucher.OldVoucher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Oldservice</servlet-name>
        <servlet-class>Controller.Service.Oldservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Topservicedetail</servlet-name>
        <servlet-class>Controller.Service.Topservicedetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreHolidayScheduleServlet</servlet-name>
        <servlet-class>Controller.admin.StoreHolidayScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelStoreHolidayScheduleServlet</servlet-name>
        <servlet-class>Controller.admin.CancelStoreHolidayScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportRevenueToExcelServlet</servlet-name>
        <servlet-class>Controller.admin.ExportRevenueToExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportEmployeeRevenueToExcelServlet</servlet-name>
        <servlet-class>Controller.admin.ExportEmployeeRevenueToExcelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendLeaveRequestController</servlet-name>
        <servlet-class>Controller.Employee.SendLeaveRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLeaveRequest</servlet-name>
        <servlet-class>Controller.admin.ViewLeaveRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelLeaveRequestController</servlet-name>
        <servlet-class>Controller.admin.CancelLeaveRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfimLeaveRequestsController</servlet-name>
        <servlet-class>Controller.admin.ConfimLeaveRequestsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderController</servlet-name>
        <servlet-class>Controller.admin.CancelOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAppointmentController</servlet-name>
        <servlet-class>Controller.admin.CreateAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentWithoutLoginServlet</servlet-name>
        <servlet-class>Controller.customer.AppointmentWithoutLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>Controller.customer.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterRevenueTableServlet</servlet-name>
        <servlet-class>Controller.admin.FilterRevenueTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesController</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryBooking</servlet-name>
        <url-pattern>/viewhistorybooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesDetailController</servlet-name>
        <url-pattern>/employeesdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeesStatusController</servlet-name>
        <url-pattern>/updateemployeesstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepassreset</servlet-name>
        <url-pattern>/changepassreset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendlink</servlet-name>
        <url-pattern>/sendlink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAppointmentController</servlet-name>
        <url-pattern>/GetAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAppointmentController</servlet-name>
        <url-pattern>/CancelAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchDateServlet</servlet-name>
        <url-pattern>/fetchdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepassw</servlet-name>
        <url-pattern>/changepassw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceControl</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicedetailControl</servlet-name>
        <url-pattern>/servicedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRevenueServlet</servlet-name>
        <url-pattern>/viewrevenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRevenueByMonthServlet</servlet-name>
        <url-pattern>/getrevenuebymonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRevenueOrderServlet</servlet-name>
        <url-pattern>/viewrevenueorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSaleServlet</servlet-name>
        <url-pattern>/viewsale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAppountController</servlet-name>
        <url-pattern>/viewAppountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesResignController</servlet-name>
        <url-pattern>/employeesresign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAppointmentController</servlet-name>
        <url-pattern>/updateAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddService</servlet-name>
        <url-pattern>/addservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderController</servlet-name>
        <url-pattern>/viewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderManager</servlet-name>
        <url-pattern>/getOrderManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllBillController</servlet-name>
        <url-pattern>/viewAllBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusEmployeeController</servlet-name>
        <url-pattern>/updateStatusEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetatailUpdateController</servlet-name>
        <url-pattern>/viewOrderDetailUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInController</servlet-name>
        <url-pattern>/checkIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSaleDetailServlet</servlet-name>
        <url-pattern>/viewsaledetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSaleByMonthServlet</servlet-name>
        <url-pattern>/getsalebymonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSaleDetailByMonthServlet</servlet-name>
        <url-pattern>/getsaledetailbymonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateService</servlet-name>
        <url-pattern>/updateservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesBookingServlet</servlet-name>
        <url-pattern>/servicesbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesBookingAjaxServlet</servlet-name>
        <url-pattern>/servicesbookingajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteservice</servlet-name>
        <url-pattern>/deleteservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReOrderServlet</servlet-name>
        <url-pattern>/reorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSaleOrderServlet</servlet-name>
        <url-pattern>/viewsaleorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkScheduleEmployees</servlet-name>
        <url-pattern>/workscheduleemployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesRecoveryController</servlet-name>
        <url-pattern>/employeerecovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyOTP</servlet-name>
        <url-pattern>/verifyotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resendotp</servlet-name>
        <url-pattern>/resendotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerProfileController</servlet-name>
        <url-pattern>/updatecusprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/ajaxservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServeletController</servlet-name>
        <url-pattern>/checkOutServeletController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackController</servlet-name>
        <url-pattern>/viewfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerFeedbackController</servlet-name>
        <url-pattern>/cusfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProfileController</servlet-name>
        <url-pattern>/cusprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoucherDetail</servlet-name>
        <url-pattern>/voucherdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Advoucher</servlet-name>
        <url-pattern>/advoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updatevoucher</servlet-name>
        <url-pattern>/updatevoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchNextShiftsServlet</servlet-name>
        <url-pattern>/fetchnextshifts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OldVoucher</servlet-name>
        <url-pattern>/oldvoucher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Oldservice</servlet-name>
        <url-pattern>/oldservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Topservicedetail</servlet-name>
        <url-pattern>/topservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreHolidayScheduleServlet</servlet-name>
        <url-pattern>/storeholidayschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelStoreHolidayScheduleServlet</servlet-name>
        <url-pattern>/cancelstoreholidayschedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportRevenueToExcelServlet</servlet-name>
        <url-pattern>/exportrevenuetoexcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportEmployeeRevenueToExcelServlet</servlet-name>
        <url-pattern>/exportemployeerevenuetoexcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendLeaveRequestController</servlet-name>
        <url-pattern>/sendleaverequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLeaveRequest</servlet-name>
        <url-pattern>/viewleaverequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelLeaveRequestController</servlet-name>
        <url-pattern>/cancelleaverequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfimLeaveRequestsController</servlet-name>
        <url-pattern>/yesRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderController</servlet-name>
        <url-pattern>/CancelOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAppointmentController</servlet-name>
        <url-pattern>/createAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentWithoutLoginServlet</servlet-name>
        <url-pattern>/appointmentwithoutlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterRevenueTableServlet</servlet-name>
        <url-pattern>/filterrevenuetable</url-pattern>
    </servlet-mapping>
</web-app>
