<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.common.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>Controller.customer.AppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.common.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>Controller.common.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerProfile</servlet-name>
        <servlet-class>Controller.common.CustomerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerUpdatePage</servlet-name>
        <servlet-class>Controller.common.CustomerUpdatePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesController</servlet-name>
        <servlet-class>Controller.common.EmployeesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHistoryBooking</servlet-name>
        <servlet-class>Controller.customer.ViewHistoryBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeesController</servlet-name>
        <servlet-class>Controller.admin.AddEmployeesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesDetailController</servlet-name>
        <servlet-class>Controller.admin.EmployeesDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmployeesStatusController</servlet-name>
        <servlet-class>Controller.admin.UpdateEmployeesStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepassreset</servlet-name>
        <servlet-class>Controller.common.changepassreset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendlink</servlet-name>
        <servlet-class>Controller.common.sendlink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAppointmentController</servlet-name>
        <servlet-class>Controller.customer.GetAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelAppointmentController</servlet-name>
        <servlet-class>Controller.customer.CancelAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchShiftsServlet</servlet-name>
        <servlet-class>Controller.customer.FetchShiftsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepassw</servlet-name>
        <servlet-class>Controller.common.changepassw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceControl</servlet-name>
        <servlet-class>Controller.Service.ServiceControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicedetailControl</servlet-name>
        <servlet-class>Controller.Service.ServicedetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.common.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRevenueServlet</servlet-name>
        <servlet-class>Controller.admin.ViewRevenueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRevenueByMonthServlet</servlet-name>
        <servlet-class>Controller.admin.GetRevenueByMonthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewRevenueOrderServlet</servlet-name>
        <servlet-class>Controller.admin.ViewRevenueOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSaleServlet</servlet-name>
        <servlet-class>Controller.admin.ViewSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAppountController</servlet-name>
        <servlet-class>Controller.customer.ViewAppountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesResignController</servlet-name>
        <servlet-class>Controller.admin.EmployeesResignController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAppointmentController</servlet-name>
        <servlet-class>Controller.customer.UpdateAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddService</servlet-name>
        <servlet-class>Controller.Service.AddService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderController</servlet-name>
        <servlet-class>Controller.admin.ViewOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controller.admin.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderManager</servlet-name>
        <servlet-class>Controller.admin.GetOrderManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllBillController</servlet-name>
        <servlet-class>Controller.admin.ViewAllBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusEmployeeController</servlet-name>
        <servlet-class>Controller.admin.UpdateStatusEmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetatailUpdateController</servlet-name>
        <servlet-class>Controller.admin.ViewOrderDetatailUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInController</servlet-name>
        <servlet-class>Controller.admin.CheckInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSaleDetailServlet</servlet-name>
        <servlet-class>Controller.admin.ViewSaleDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSaleByMonthServlet</servlet-name>
        <servlet-class>Controller.admin.GetSaleByMonthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSaleDetailByMonthServlet</servlet-name>
        <servlet-class>Controller.admin.GetSaleDetailByMonthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateService</servlet-name>
        <servlet-class>Controller.Service.UpdateService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesBookingServlet</servlet-name>
        <servlet-class>Controller.customer.ServicesBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesBookingAjaxServlet</servlet-name>
        <servlet-class>Controller.customer.ServicesBookingAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteservice</servlet-name>
        <servlet-class>Controller.Service.deleteservice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReOrderServlet</servlet-name>
        <servlet-class>Controller.customer.ReOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSaleOrderServlet</servlet-name>
        <servlet-class>Controller.admin.ViewSaleOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WorkScheduleEmployees</servlet-name>
        <servlet-class>Controller.admin.WorkScheduleEmployees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesRecoveryController</servlet-name>
        <servlet-class>Controller.admin.EmployeesRecoveryController</servlet-class>
        <servlet-name>ViewFeedbackController</servlet-name>
        <servlet-class>Controller.Service.ViewFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerFeedbackController</servlet-name>
        <servlet-class>Controller.customer.CustomerFeedbackController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProfile</servlet-name>
        <url-pattern>/cusprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUpdatePage</servlet-name>
        <url-pattern>/customerupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesController</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHistoryBooking</servlet-name>
        <url-pattern>/viewhistorybooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesDetailController</servlet-name>
        <url-pattern>/employeesdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeesController</servlet-name>
        <url-pattern>/addemployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmployeesStatusController</servlet-name>
        <url-pattern>/updateemployeesstatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepassreset</servlet-name>
        <url-pattern>/changepassreset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendlink</servlet-name>
        <url-pattern>/sendlink</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAppointmentController</servlet-name>
        <url-pattern>/GetAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelAppointmentController</servlet-name>
        <url-pattern>/CancelAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchShiftsServlet</servlet-name>
        <url-pattern>/fetchshifts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepassw</servlet-name>
        <url-pattern>/changepassw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceControl</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicedetailControl</servlet-name>
        <url-pattern>/servicedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRevenueServlet</servlet-name>
        <url-pattern>/viewrevenue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRevenueByMonthServlet</servlet-name>
        <url-pattern>/getrevenuebymonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewRevenueOrderServlet</servlet-name>
        <url-pattern>/viewrevenueorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSaleServlet</servlet-name>
        <url-pattern>/viewsale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAppountController</servlet-name>
        <url-pattern>/viewAppountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesResignController</servlet-name>
        <url-pattern>/employeesresign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAppointmentController</servlet-name>
        <url-pattern>/updateAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddService</servlet-name>
        <url-pattern>/addservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderController</servlet-name>
        <url-pattern>/viewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderManager</servlet-name>
        <url-pattern>/getOrderManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllBillController</servlet-name>
        <url-pattern>/viewAllBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusEmployeeController</servlet-name>
        <url-pattern>/updateStatusEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetatailUpdateController</servlet-name>
        <url-pattern>/viewOrderDetatailUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInController</servlet-name>
        <url-pattern>/checkIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSaleDetailServlet</servlet-name>
        <url-pattern>/viewsaledetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSaleByMonthServlet</servlet-name>
        <url-pattern>/getsalebymonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSaleDetailByMonthServlet</servlet-name>
        <url-pattern>/getsaledetailbymonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateService</servlet-name>
        <url-pattern>/updateservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesBookingServlet</servlet-name>
        <url-pattern>/servicesbooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesBookingAjaxServlet</servlet-name>
        <url-pattern>/servicesbookingajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteservice</servlet-name>
        <url-pattern>/deleteservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReOrderServlet</servlet-name>
        <url-pattern>/reorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSaleOrderServlet</servlet-name>
        <url-pattern>/viewsaleorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WorkScheduleEmployees</servlet-name>
        <url-pattern>/workscheduleemployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesRecoveryController</servlet-name>
        <url-pattern>/employeerecovery</url-pattern>
        <servlet-name>ViewFeedbackController</servlet-name>
        <url-pattern>/viewfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerFeedbackController</servlet-name>
        <url-pattern>/cusfeedback</url-pattern>
    </servlet-mapping>
</web-app>
