<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>Controller.AppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>Controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerProfile</servlet-name>
        <servlet-class>Controller.CustomerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerUpdatePage</servlet-name>
        <servlet-class>Controller.CustomerUpdatePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesController</servlet-name>
        <servlet-class>Controller.EmployeesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeesDetailController</servlet-name>
        <servlet-class>Controller.EmployeesDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeesController</servlet-name>
        <servlet-class>Controller.AddEmployeesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployeesController</servlet-name>
        <servlet-class>Controller.DeleteEmployeesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProfile</servlet-name>
        <url-pattern>/cusprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUpdatePage</servlet-name>
        <url-pattern>/customerupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesController</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeesDetailController</servlet-name>
        <url-pattern>/employeesdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeesController</servlet-name>
        <url-pattern>/addemployees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployeesController</servlet-name>
        <url-pattern>/deleteemployees</url-pattern>
    </servlet-mapping>
</web-app>
